{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans title %}{% endblock %}
{% block content %}
<h1>{% trans title %}</h1>

<div class="posts-container">
    {% for post in page_obj %}
    <div class="post-card">
        <div class="post-content-wrapper">
            {% if post.file %}
                <div class="post-image">
                    <img src="{{ post.file.url }}" alt="{{ post.title }}">
                </div>
            {% endif %}
            <div class="post-text">
                <h2>{{ post.title }}</h2>
                <p>{{ post.description|truncatewords:50 }}</p>
                <a href="{{ post.get_absolute_url }}" class="read-more">{% trans "Узнать подробнее" %}</a>
                {% if user.username == 'q' %}
                <a href="{% url 'edit' post.slug %}" class="read-more">{% trans "Редактировать запись" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p>{% trans "Постов пока нет." %}</p>
    {% endfor %}
</div>

<!-- Пагинация -->
{% if page_obj.paginator.num_pages > 1 %}
<nav class="pagination-nav">
    <ul class="pagination">
        {% if page_obj.has_previous and page_obj.number != 1 %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; {% trans "Первая" %}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Назад" %}</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next and page_obj.number != page_obj.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Вперёд" %}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Последняя" %} &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
