{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css ">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<h2>Смена пароля</h2>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="small mb-1" for="username">Имя пользователя</label>
        <input class="form-control" id="username" name="username" type="text" required>
    </div>
    <div class="form-group">
        <label class="small mb-1" for="new_password">Новый пароль</label>
        <input class="form-control" id="new_password" name="new_password" type="password" required>
    </div>
    <div class="form-group">
        <label class="small mb-1" for="confirm_password">Подтвердите пароль</label>
        <input class="form-control" id="confirm_password" name="confirm_password" type="password" required>
    </div>
    <button type="submit" class="submit-button">Сменить пароль</button>
</form>
{% endblock %}